{% extends 'base.html.twig' %}

{% block title %}List_tickets{% endblock %}

{% block body %}

    <div class="g-sidenav-show ">
        <div class="min-height-100 bg-primary position-absolute w-100"></div>

        {# Importations de la sidebar #}
        {% include 'components/_sidebar.hmtl.twig' %}


        <main class="main-content position-relative border-radius-md ">
            {% include 'components/_navbar.html.twig' with {'page_name': 'Tickets List' }%}



            <section class="pt-5">
                <div class="container pt-5 ">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success w-100 my-4">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="row mb-5">
                            {{ formstart(ticketFilterForm) }}
                                <div class="offset-2  col-8 col-md-3 me-3">
                                    {{ form_row(ticketFilterForm.StartDate) }}
                                </div>
                                <div class="offset-2 col-8 col-md-3 me-3">
                                    {{ form_row(ticketFilterForm.EndDate) }}
                                </div>
                                <div class="offset-2 col-8 col-md-3 me-3">
                                    {{ form_row(ticketFilterForm.status) }}
                                </div>
                                <div class="offset-2 col-8 col-md-3 m-3 me-3">
                                    {{ form_row(ticketFilterForm.submit) }}
                                </div>
                            {{ formend(ticketFilterForm) }}
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3 mb-lg-5">

                            <div class="overflow-hidden card table-nowrap table-card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">Tickets</h5>
                                </div>
                                {% if tickets|length >= 1  %}
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="small text-uppercase bg-body text-muted">
                                            <tr class="text-center fw-bolder">
                                                <th>Title</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                {# pas besoin d'afficher à qui il est assigné si c'est déjà lui #}
                                                {% if not  is_granted('ROLE_TECH_SUPPORT') %}
                                                  <th>Assigned to</th>
                                                {% endif %}
                                                <th>created at</th>
                                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH_SUPPORT') %}
                                                    <th>deadline</th>
                                                    <th>updated at </th>
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            {% for ticket in tickets %}

                                                <tbody>
                                                <tr class="align-middle text-center fst-italic">
                                                    <th>{{ ticket.title }}</th>
                                                    <th>{{ ticket.status.value }}</th>
                                                    <th>{{ ticket.priority.value }}</th>
                                                    {% if not  is_granted('ROLE_TECH_SUPPORT') %}
                                                        <th>{{ ticket.assignedTo }}</th>
                                                    {% endif %}
                                                    <th>{{ ticket.createdAt|date('Y-m-d') }}</th>
                                                        <th>{{ ticket.deadline|date('Y-m-d') }}</th>
                                                        <th>{{ ticket.updatedAt|date('Y-m-d')}} </th>
                                                    <th>
                                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH_SUPPORT') %}
                                                            <a href="{{ path('app_confirm_deleting', {'id': ticket.id, 'entity_name': 'ticket'}) }}" class="fst-italic fa fa-trash" aria-hidden="true"></a> &nbsp;
                                                        {% endif %}
                                                        <a href="{{ path('app_ticket_edit', {'id' : ticket.id}) }}" class="fst-italic fas fa-edit"></a>
                                                    </th>
                                                </tr>
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% else %}
                                        {% if is_granted('ROLE_TECH_SUPPORT') %}
                                            <p class="text-center text-info py-3">No tickets assigned for you.</p>
                                        {% else %}
                                            <p class="text-center text-info py-3">No tickets found.</p>
                                        {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>

{% endblock %}
