{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% set body_class = "d-flex align-items-center justify-content-center log_auth" %}
{% block body%}
    <div class="container py-5">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right bg-body-tertiary" style="
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success w-100 my-4">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <h1 class="fw-bold mb-5"> Connectez-vous </h1>
                        <form action="{{ path("app_login")}}" method="post">
                            {% if error %}
                                <div class="alert alert-danger">Vos identifiants ne sont pas corrects</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}  |   <a class="link-underline link-underline-opacity-0" href="{{ path('app_logout') }}">Se déconnecter ?</a>
                                </div>
                            {% endif %}

                            <!-- email-->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label fw-bold fst-italic" for="username">Email</label>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required>
                            </div>

                            <!-- mot de passe -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label fw-bold fst-italic" for="password">Mot de passe:</label>
                                <div class="toggle-password-container">
                                    <input class="form-control " type="password" id="password" name="_password" required 
                                    data-controller="symfony--ux-toggle-password--toggle-password"
                                    data-symfony--ux-toggle-password--toggle-password-hidden-label-value="Hide"
                                    data-symfony--ux-toggle-password--toggle-password-visible-label-value="Show"
                                    data-symfony--ux-toggle-password--toggle-password-hidden-icon-value="Default"
                                    data-symfony--ux-toggle-password--toggle-password-visible-icon-value="Default"
                                    data-symfony--ux-toggle-password--toggle-password-button-classes-value="[&quot;toggle-password-button&quot;]">
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <!-- la Checkbox  -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input me-2">
                                <label  class="form-check-label" for="_remember_me">Se rappeler de moi</label>
                            </div>
                            <a href="{{ path('app_forgot_password_request') }}" class="text-info text-center link-underline link-underline-opacity-0">Mot de passe oublié ?</a><br><br>

                            <a href="{{ path('app_register') }}" class="text-info text-center link-underline link-underline-opacity-0">Vous n'avez pas de compte ?</a><br><br>

                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block mb-4">
                                Valider
                            </button>


                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 my-3 mb-lg-0">
                <img src="{{ asset('img/login_logo.jpeg') }}" class="w-100 rounded-4  shadow-4"
                     alt="image de support ticketing" />
            </div>
        </div>
    </div>
{% endblock %}
